@import url(/cores/cores.css);

section {
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid var(--preto);
    border-radius: 5px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

.logo-ifce {
    position: relative;
    text-align: center;
}

.logo-ifce img {
    max-width: 150px;
}

.inputbox {
    position: relative;
    margin: 5px 0;
    max-width: 310px;
    border-bottom: 2px solid var(--preto);
}

.inputbox label {
    position: absolute;
    top: 40px;          
    left: 5px;
    transform: translateY(-20%);
    color: var(--preto);
    font-size: 1.2rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input:focus ~ label, 
input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--preto);
}

.forget {
    margin: 10% 0;
    font-size: 0.85rem;
    color: var(--preto);
    display: flex;
    justify-content: space-between;
}

.forget label {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.forget label input {
    margin-right: 3px;
}

.forget a {
    text-decoration: none;
    font-weight: 600;
}

.forget a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: var(--verde-normal);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

button:hover {
    background: var(--verde-meio-claro);
}

.login_google{
    padding-top : 15px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    cursor: pointer;
}

.login_google img {
    width: 35px;
    border: 2px solid var(--preto);
    padding: 5px;
    border-radius: 100%;
}


.register {
    font-size: 0.9rem;
    color: var(--preto);
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    font-size: 0.9rem;
    color: var(--preto);
    font-weight: 600;
    text-decoration: none;
}

.register p a:hover {
    text-decoration: underline;
}