*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
    }      
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}
.bgAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: var(--branco);
    filter: saturate(2);
    overflow: hidden;
}

.colorBox {
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: var(--branco);
}

.colorBox:hover{
    background: var(--verde-claro);
    transition-duration: 0s;
}

.backgroundAmim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--verde-meio-claro);
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0% {
        top: -60px;
    }

    100% {
        top: 90%;
    }
}