:root {
    verde-escuro: #2a8c4a; 
    verde-meio-claro: #64C27B;
    verde-normal: #9BFAB0;
    verde-claro: #D0FDD7;
    branco: #fff;
    preto: #000;
    cinza: #AAA6A6;
    verde-ifce: #379936;
}